<sb-include src="/views/fields/container.html">
  <div>
    <div class="btn-group">
      <button type="button"
              class="btn btn-default"
              aria-describedby="{{::field.name}}HelpBlock"
              ng-click="field.onSelect()"
              ng-disabled="::field.readonly"
              ng-model="field.model"
              uib-btn-radio="field.values.true"
              uib-uncheckable="::!field.required">
        {{::(field.labels.true || 'SWITCHER_BUTTON_YES')|translate}}
      </button>
      <button type="button"
              class="btn btn-default"
              aria-describedby="{{::field.name}}HelpBlock"
              ng-click="field.onSelect()"
              ng-disabled="::field.readonly"
              ng-model="field.model"
              uib-btn-radio="field.values.false"
              uib-uncheckable="::!field.required">
        {{::(field.labels.false || 'SWITCHER_BUTTON_NO')|translate}}
      </button>
    </div>
  </div>
</sb-include>
