<div ng-if="$ctrl.config.haveTracks">
  <label>
    <input type="checkbox" ng-model="$ctrl.showTracks">
    {{'LIST_MAP_SHOW_TRACKS_CHECKBOX' | translate}}
  </label>
</div>
<sb-leaflet-collection-map markers="$ctrl.rows"
                           fit="true"
                           cluster="true"
                           control="$ctrl.marker.control"
                           on-click="$ctrl.marker.click"
                           on-popup-close="$ctrl.marker.popupClose"
                           polygons="$ctrl.config.haveZones ? $ctrl.zones : null"
                           polygon-style="$ctrl.zoneStyle"
                           polylines="$ctrl.config.haveTracks && $ctrl.showTracks && !$ctrl.tracksWaiting ? $ctrl.tracks : null"
                           polyline-style="$ctrl.trackStyle">
  <marker-popup>
    <div ng-include="$ctrl.markerWindowTemplate || '/views/directives/listmapmarker.html'"></div>
  </marker-popup>
  <polygon-popup>
    <ul class="list-unstyled">
      <li><strong>{{$model.owner|userName}}</strong></li>
      <li>{{$model.id}}</li>
    </ul>
  </polygon-popup>
</sb-leaflet-collection-map>
