<div ng-controller="EBPOrganizationsController as $ctrl">
  <form name="editform"
        role="form"
        class="table-responsive"
        confirm-on-exit="editform.$dirty"
        confirm-message-window="{{'SPECIES_UNSAVED_DATA_TITLE' | translate}}"
        confirm-message-route="{{'SPECIES_UNSAVED_DATA_MESSAGE' | translate}}">
    <table class="table table-hover table-striped table-responsive">
      <thead>
      <tr>
        <th>#</th>
        <th>Organization</th>
        <th>Allowed</th>
        <th class="btn-group btn-group-xs">
          <button ng-disabled="editform.$pristine"
                  type="button"
                  class="btn btn-success btn-xs"
                  title="{{'SPECIES_BUTTON_SAVE' | translate}}"
                  ng-click="$ctrl.save()">
            <i class="fa fa-check fa-fw"></i>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="hover" ng-repeat="item in $ctrl.organizations track by item.slug">
        <td>{{$index}}</td>
        <td>
          {{item.label }}
        </td>
        <td colspan="2">
          <input type="checkbox" ng-model="item.allowed" />
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>#</th>
        <th>Organization</th>
        <th>Allowed</th>
        <th class="btn-group btn-group-xs">
          <button ng-disabled="editform.$pristine"
                  type="button"
                  class="btn btn-success btn-xs"
                  title="{{'SPECIES_BUTTON_SAVE' | translate}}"
                  ng-click="$ctrl.save()">
            <i class="fa fa-check fa-fw"></i>
          </button>
        </th>
      </tr>
      </tfoot>
    </table>
  </form>
</div>
