<div class="atlas-legend">
  <style>
    .atlas-legend li:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.25em;
    }

    .atlas-legend li.low:before {
      background-color: {{$ctrl.colors.low}};
    }
    .atlas-legend li.medium:before {
      background-color: {{$ctrl.colors.med}};
    }
    .atlas-legend li.high:before {
      background-color: {{$ctrl.colors.high}};
    }
  </style>

  <ul class="list-inline">
    <li class="low">
      {{'ATLAS_LEGEND_LOW' | translate}}
    </li>
    <li class="medium">
      {{'ATLAS_LEGEND_MEDIUM' | translate}}
    </li>
    <li class="high">
      {{'ATLAS_LEGEND_HIGH' | translate}}
    </li>
  </ul>
</div>
