<div class="page-atlas-stats-cell">
  <div class="row">
    <div class="col-md-8 col-lg-7">
      <sb-leaflet-collection-map
        center="$ctrl.map.state.center"
        zoom="$ctrl.map.state.zoom"
        max-zoom="$ctrl.map.options.maxZoom"
        polygons="$ctrl.cells"
        fit="true"
        on-polygon-click="$ctrl.events.click"
      ></sb-leaflet-collection-map>

      <atlas-legend></atlas-legend>
    </div>

    <div class="col-md-4 col-lg-5">
      <div class="panel panel-default">
        <h3 class="panel-heading">
            <span ng-if="$ctrl.selected">
              {{$ctrl.selected}}
            </span>
          <span ng-if="!$ctrl.selected">
              {{::'ATLAS_STATS_TOP_OBSERVERS_HEADING' | translate}}
            </span>
        </h3>
        <div ng-if="!$ctrl.selected" class="panel-body">
          <p>{{::'ATLAS_STATS_TOP_OBSERVERS_HINT' | translate}}</p>
        </div>
        <div ng-if="$ctrl.loading" class="panel-body text-center">
          <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
        <div ng-if="$ctrl.selected && !$ctrl.loading" class="panel-body">
          <h4>{{::'ATLAS_STATS_TOP_OBSERVERS_TEXT' | translate:$ctrl}}</h4>
        </div>

        <!-- List group -->
        <ol class="list-group">
          <li ng-repeat="row in $ctrl.rows"
              class="list-group-item"
              ng-class="$index >= $ctrl.MAX ? 'list-group-item-danger' : ''">
            <span class="index">{{$index + 1}}.</span>
            <span class="observer">{{::row.user | userName}}</span>
            -
            <span class="value">{{::'ATLAS_STATS_TOP_OBSERVERS_ROW_VALUE' | translate:row}}</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
