<div class="page-atlas-missing-species">
  <div class="page-header">
    <h1>{{::'ATLAS_MISSING_SPECIES_TITLE' | translate}}</h1>
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-7">
      <sb-leaflet-collection-map
        center="$ctrl.map.state.center"
        zoom="$ctrl.map.state.zoom"
        max-zoom="$ctrl.map.options.maxZoom"
        polygons="$ctrl.cells"
        fit="true"
        on-polygon-click="$ctrl.events.click"
      ></sb-leaflet-collection-map>

      <atlas-legend></atlas-legend>
    </div>

    <div class="col-md-4 col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span ng-if="$ctrl.selected">
            {{$ctrl.selected.cell.utm_code}}
          </span>
          <span ng-if="!$ctrl.selectedInfo">
            {{::'ATLAS_MISSING_SPECIES_ZONE_HEADING' | translate}}
          </span>
          <i ng-if="$ctrl.loading" class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="panel-body">
          <p>{{::'ATLAS_MISSING_SPECIES_ZONE_TEXT' | translate}}</p>
        </div>

        <!-- List group -->
        <div class="table-responsive">
          <table ng-if="$ctrl.selectedInfo && !$ctrl.loading" class="table table-condensed table-striped">
            <thead>
            <tr>
              <th>
                <span class="label label-default pull-right">{{::$ctrl.selectedInfo.length}}</span>
                {{::'ATLAS_MISSING_SPECIES_ZONE_HEADER_SPECIES' | translate}}
                <div class="clearfix"></div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.selectedInfo">
              <td>
                {{::getLocalLabel(row.species | species:"label")}}<br ng-if="::getLocalLabel(row.species | species:'label')"/>
                <strong>{{::row.species}}</strong>
              </td>
            </tr>
            <tr ng-if="$ctrl.selectedInfo.length === 0">
              <td colspan="1">
                {{::'ATLAS_MISSING_SPECIES_ZONE_NO_ROWS' | translate}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
