<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" translate>DASHBOARD_TITLE</h1>
  </div>
</div>

<div class="row">
  <div ng-if="$user.isAdmin() || $user.isModerator('cbm')" class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"
        ng-click="$state.go('auth.zones', {status:['requested','owned'], location: undefined, owner: undefined})">
        <div class="row">
          <p class="col-xs-3"><i class="fa fa-map-marker fa-5x"></i></p>
          <div class="col-xs-9 text-right">
            <div class="huge">{{dashboard.pendingZones.length|plusify:9}}</div>
            <div translate>DASHBOARD_CARD_REQUESTS</div>
          </div>
        </div>
      </div>
      <a href ui-sref="auth.zones({status: 'requested'})">
        <div class="panel-footer"><span class="pull-left" translate>DASHBOARD_CARD_REQUESTS_REVIEW</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <dashboard-form-card form="::dashboard.forms.cbm"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.birds"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.herptiles"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.mammals"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.bears"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.invertebrates"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.plants"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.fishes"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.birdsMigrations"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.bats"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.ciconia"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.threats"></dashboard-form-card>
</div>
