<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" translate>DASHBOARD_TITLE</h1>
  </div>
</div>

<div class="row row-cards" ng-if="$user.isAdmin() || $user.isModerator('cbm')">
  <dashboard-card
    ng-if="$user.isAdmin()"
    count="dashboard.suspiciousStats.newCount"
    label="DASHBOARD_CARD_SUSPICIOUS_ALERTS"
    icon="fa-warning"
    status="dashboard.suspiciousStats.newCount > 0 ? 'danger' : 'default'"
    heading-state="auth.suspiciousActivityAlerts"
    footer-label="DASHBOARD_CARD_SUSPICIOUS_REVIEW"
    footer-state="auth.suspiciousActivityAlerts"
    footer-state-params="{status: 'new'}">
  </dashboard-card>

  <dashboard-card
    ng-if="$user.isAdmin() || $user.isModerator('cbm')"
    count="dashboard.pendingZones.length | plusify:9"
    label="DASHBOARD_CARD_REQUESTS"
    icon="fa-map-marker"
    status="'primary'"
    heading-state="auth.zones"
    heading-state-params="{status: ['requested', 'owned'], location: undefined, owner: undefined}"
    footer-label="DASHBOARD_CARD_REQUESTS_REVIEW"
    footer-state="auth.zones"
    footer-state-params="{status: 'requested'}">
  </dashboard-card>
</div>

<div class="row row-cards">
  <dashboard-form-card form="::dashboard.forms.cbm"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.birds"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.herptiles"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.mammals"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.bears"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.invertebrates"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.plants"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.fishes"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.birdsMigrations"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.bats"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.ciconia"></dashboard-form-card>
  <dashboard-form-card form="::dashboard.forms.threats"></dashboard-form-card>
</div>
