<div>
  <p><span>PRIVACY NOTICE</span></p>
  <p><span></span></p>
  <p><span>1. General considerations</span></p>
  <p><span></span></p>
  <p>
    <span>1.1. The Privacy Notice is information that </span><span>Bulgarian Society for the Protection of Birds</span><span> (BSPB) provides to its clients describing how it collects, uses, stores and discloses the personal information it processes as a personal data controller during your use of the SmartBirds Pro app (Application).</span>
  </p>
  <p><span></span></p>
  <p><span>1.2. BSPB recognizes the importance of protecting personal and confidential information in everything it does. This privacy notice is part of our commitment to ensuring that we process your personal data in good faith and lawfully. The announcement also explains your rights with respect to the information which we process.</span>
  </p>
  <p><span></span></p>
  <p><span>2. Controller</span></p>
  <p><span></span></p>
  <p><span>Bulgarian Society for the Protection of Birds</span></p>
  <p><span></span></p>
  <p><span>Address: zh.k. Yavorov bl.71, ent.4, apt.1, Sofia, Bulgaria</span></p>
  <p><span></span></p>
  <p><span>E-mail: <a href="mailto:bspb_hq@bspb.org" target="_blank">bspb_hq@bspb.org</a></span></p>
  <p><span></span></p>
  <p><span>3. Data Protection Officer</span></p>
  <p><span></span></p>
  <p><span><a href="mailto:bspb_hq@bspb.org" target="_blank">bspb_hq@bspb.org</a></span></p>
  <p><span></span></p>
  <p><span>4. Purpose of processing</span></p>
  <p><span></span></p>
  <p><span>Your personal data is processed in relation to:</span></p>
  <p><span></span></p>
  <p><span>4.1. Providing the Service related to electronic field diaries for recording of observations of bird species, amphibians, reptiles and mammals in Bulgaria, including their location.</span>
  </p>
  <p><span></span></p>
  <p><span>4.2. Increasing user satisfaction, improving the Application and the Service;</span></p>
  <p><span></span></p>
  <p>
    <span>4.3. Sending emails with app information or answers to queries (including password change if needed);</span>
  </p>
  <p><span></span></p>
  <p><span>4.4. Sending emails related to the functioning of the Service or the Application or information related to the Application or a third party that we think would be useful to you.</span>
  </p>
  <p><span></span></p>
  <p><span>5. Categories of personal data</span></p>
  <p><span></span></p>
  <p><span>We collect the following personal data:</span></p>
  <p><span></span></p>
  <p><span>5.1 Personal information such as names, email, organization membership;</span></p>
  <p><span></span></p>
  <p><span>5.2 Location data, including when your Application is in use / in background/is closed related to your location during using the Application for tracking the collected fields observations;</span>
  </p>
  <p><span></span></p>
  <p><span>5.3. Your device performance data during using of the app;</span></p>
  <p><span></span></p>
  <p><span>5.4. Sharing of anonymized field observations with third parties organizations.</span></p>
  <p><span></span></p>
  <p><span>6. Legal basis for processing</span></p>
  <p><span></span></p>
  <p><span>The legal basis for processing your personal data provided in connection with the purposes of items 5.1, 5.2, 5.3 and 5.4 is Art. 6, item 1, l. &quot;B&quot; of the GDPR (processing is necessary for the performance of a contract (the Terms of Use) to which the data subject is party.</span>
  </p>
  <p><span></span></p>
  <p><span>7. Categories of recipients of personal data</span></p>
  <p><span></span></p>
  <p><span>&quot;Recipients of personal data&quot; are individuals or legal entities, a public body, an agency or other entity to which personal data is disclosed.</span>
  </p>
  <p><span></span></p>
  <p><span>BSPB provides data only if this is foreseen and / or required by the regulatory framework operating on the territory of the Republic of Bulgaria and / or in connection with the execution of the contract with you.</span>
  </p>
  <p><span></span></p>
  <p><span>Recipients can be:</span></p>
  <p><span></span></p>
  <p><span>7.1. You or explicitly authorized by you persons;</span></p>
  <p><span></span></p>
  <p>
    <span>7.2. Employees of BSPB, insofar as their direct duties include the processing of personal data of clients;</span>
  </p>
  <p><span></span></p>
  <p><span>7.3. Moderators and administrators of the Application;</span></p>
  <p><span></span></p>
  <p><span>7.4. Recipients of access to personal data in connection with another activity assigned by BSPB  such as: hosting providers, software or hardware specialists, etc., used for the processing of personal data;</span>
  </p>
  <p><span></span></p>
  <p><span>7.5. Other users, which you explicitly authorized, or web site </span><span><a
    href="https://www.google.com/url?q=https://smartbirds.org/&amp;sa=D&amp;source=editors&amp;ust=1618266999943000&amp;usg=AOvVaw3q82n3Vt0WEjdCHT3TS8RF"
    target="_blank">https://smartbirds.org/</a></span><span> <wbr>visitors, in case you made your profile public;</span>
  </p>
  <p><span></span></p>
  <p><span>7.6. Public authorities (state and local authority control bodies in cases provided by law);</span></p>
  <p><span></span></p>
  <p><span>7.7. Supervisory Authority for Personal Data Protection (for the Republic of Bulgaria - Personal Data Protection Commission).</span>
  </p>
  <p><span></span></p>
  <p><span>8. Period for which your personal data will be stored</span></p>
  <p><span></span></p>
  <p><span>We will store your personal data for the longer term among:</span></p>
  <p><span></span></p>
  <p>
    <span>8.1. the term of the agreement (consent to the Terms of Use) - expiring when the application is uninstalled;</span>
  </p>
  <p><span></span></p>
  <p><span>8.2. legally set deadlines;</span></p>
  <p><span></span></p>
  <p><span>8.3. termination of any proceedings before a supervisory authority / court;</span></p>
  <p><span></span></p>
  <p><span>8.4. until the need to use the information has ceased.</span></p>
  <p><span></span></p>
  <p><span>9. Rights you have in connection with the personal data you provide</span></p>
  <p><span></span></p>
  <p><span>9.1. You have the right to request from us access to and rectification or erasure of personal data or restriction of processing concerning the data subject or to object to processing as well as the right to data portability.</span>
  </p>
  <p><span></span></p>
  <p><span>9.2. If necessary, the Data Protection Officer will provide you with additional information and assistance for the exercise of your rights.</span>
  </p>
  <p><span></span></p>
  <p><span>10. Right to lodge a complaint with a supervisory authority</span></p>
  <p><span></span></p>
  <p><span>You have the right to appeal to a supervisor authority.</span></p>
  <p><span></span></p>
  <p><span>The supervisory authority in the Republic of Bulgaria is the Commission for the Protection of Personal Data. Address for correspondence - Prof. Tsvetan Lazarov Blvd ., Sofia 1592, Bulgaria, Telephone - +359 2 915 3 518; Website - <a
    href="http://www.cpdp.bg" target="_blank">www.cpdp.bg</a></span></p>
  <p><span></span></p>
  <p><span>11. Transfers of personal data to third countries or international organisations</span></p>
  <p><span></span></p>
  <p><span>BSPB does not transfer your data to any third country or an international organization.</span></p>
  <p><span></span></p>
  <p><span>12. Statutory or contractual requirement for provision of personal data</span></p>
  <p><span></span></p>
  <p><span>The provision of personal data is mandatory for the implementation of the services offered by BSPB.</span>
  </p>
  <p><span></span></p>
  <p><span>13. Automated decision-making</span></p>
  <p><span></span></p>
  <p><span>BSPB does not use automated decision-making, in processing of your personal data.</span></p>
  <p><span></span></p>
  <p><span>14. Updating the PRIVACY NOTICE</span></p>
  <p><span></span></p>
  <p><span>In the event of any substantial change in the way we process your personal data and / or any other aspect of this Notice, BSPB will notify you of the relevant change immediately by providing you with the updated Notice.</span>
  </p>
  <p><span></span></p>
  <p><span>15. For questions</span></p>
  <p><span></span></p>
  <p><span>For any questions about your personal data, you may wish to contact the Data Protection Officer.</span></p>
  <p><span></span></p>
  <p><span> </span></p>
  <p><span></span></p>
  <p><span>BSPB</span></p>
  <p><span></span></p>
  <p><span>Sofia, Bulgaria</span></p>
  <p><span></span></p>
  <p><span>Last updated on: 14.04.2021</span></p>
</div>
