<div class="page-tasks">
  <h1 class="page-header">
    Tasks management
  </h1>

  <style>
    .page-tasks label {
      display: block;
    }
  </style>

  <div class="panel panel-default">
    <div class="panel-heading">Auto locations</div>
    <div class="panel-body">
      <form name="autoLocation" class="form-inline">
        <div class="form-group">
          <label for="auto-location-form">Form</label>
          <select class="form-control" id="auto-location-form"
                  ng-model="autoLocation.form"
                  ng-options="::v.serverModel as ::v.label|translate for v in ::$ctrl.forms">
            <option value="">all forms</option>
          </select>
        </div>
        <div class="form-group">
          <label for="auto-location-id">Record ID</label>
          <input type="number" class="form-control" id="auto-location-id"
                 placeholder="all without location"
                 ng-model="autoLocation.id">
        </div>
        <div class="form-group">
          <label for="auto-location-limit">Records</label>
          <input type="number" class="form-control" id="auto-location-limit"
                 placeholder="newest records"
                 ng-model="autoLocation.limit">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="autoLocation.force">
            Force
          </label>
        </div>
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.autoLocation(autoLocation.form, autoLocation.id, autoLocation.limit, autoLocation.force)">
          Run
        </button>
      </form>
    </div>
    <div class="panel-footer">
      <div ng-if="$ctrl.autoLocation.loading" class="alert alert-info" role="alert">
        <i class="fa fa-spinner fa-spin"></i>
        running...
      </div>
      <div ng-if="$ctrl.autoLocation.response" class="alert alert-success" role="alert">
        {{$ctrl.autoLocation.response ? 'success' : 'failure'}}
      </div>
      <div ng-if="$ctrl.autoLocation.error" class="alert alert-danger" role="alert">
        {{$ctrl.autoLocation.error}}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">BG Atlas 2008</div>
    <div class="panel-body">
      <form name="bgatlas2008" class="form-inline">
        <div class="form-group">
          <label for="bgatlas2008-form">Form</label>
          <select class="form-control" id="bgatlas2008-form"
                  ng-model="bgatlas2008.form"
                  ng-options="::v.serverModel as ::v.label|translate for v in ::$ctrl.forms">
            <option value="">all forms</option>
          </select>
        </div>
        <div class="form-group">
          <label for="bgatlas2008-id">Record ID</label>
          <input type="number" class="form-control" id="bgatlas2008-id"
                 placeholder="all without location"
                 ng-model="bgatlas2008.id">
        </div>
        <div class="form-group">
          <label for="bgatlas2008-limit">Records</label>
          <input type="number" class="form-control" id="bgatlas2008-limit"
                 placeholder="newest records"
                 ng-model="bgatlas2008.limit">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="bgatlas2008.force">
            Force
          </label>
        </div>
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.bgatlas2008(bgatlas2008.form, bgatlas2008.id, bgatlas2008.limit, bgatlas2008.force)">
          Run
        </button>
      </form>
    </div>
    <div class="panel-footer">
      <div ng-if="$ctrl.bgatlas2008.loading" class="alert alert-info" role="alert">
        <i class="fa fa-spinner fa-spin"></i>
        running...
      </div>
      <div ng-if="$ctrl.bgatlas2008.response" class="alert alert-success" role="alert">
        {{$ctrl.bgatlas2008.response ? 'success' : 'failure'}}
      </div>
      <div ng-if="$ctrl.bgatlas2008.error" class="alert alert-danger" role="alert">
        {{$ctrl.bgatlas2008.error}}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Auto visit number</div>
    <div class="panel-body">
      <form name="auto-visit" class="form-inline">
        <div class="form-group">
          <label for="auto-visit-form">Form</label>
          <select class="form-control" id="auto-visit-form"
                  ng-model="autoVisit.form"
                  ng-options="::v.serverModel as ::v.label|translate for v in ::$ctrl.forms">
            <option value="">all forms</option>
          </select>
        </div>
        <div class="form-group">
          <label for="auto-visit-id">Record ID</label>
          <input type="number" class="form-control" id="auto-visit-id"
                 placeholder="all not already processed"
                 ng-model="autoVisit.id">
        </div>
        <div class="form-group">
          <label for="auto-visit-limit">Records</label>
          <input type="number" class="form-control" id="auto-visit-limit"
                 placeholder="newest records"
                 ng-model="autoVisit.limit">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="autoVisit.force">
            Force
          </label>
        </div>
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.autoVisit(autoVisit.form, autoVisit.id, autoVisit.limit, autoVisit.force)">
          Run
        </button>
      </form>
    </div>
    <div class="panel-footer">
      <div ng-if="$ctrl.autoVisit.loading" class="alert alert-info" role="alert">
        <i class="fa fa-spinner fa-spin"></i>
        running...
      </div>
      <div ng-if="$ctrl.autoVisit.response" class="alert alert-success" role="alert">
        {{$ctrl.autoVisit.response ? 'success' : 'failure'}}
      </div>
      <div ng-if="$ctrl.autoVisit.error" class="alert alert-danger" role="alert">
        {{$ctrl.autoVisit.error}}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Birds new species moderator review</div>
    <div class="panel-body">
      <form name="birdsNewSpeciesModeratorReview" class="form-inline">
        <div class="form-group">
          <label for="birdsNewSpeciesModeratorReview-form">Form</label>
          <select class="form-control" id="birdsNewSpeciesModeratorReview-form"
                  ng-model="birdsNewSpeciesModeratorReview.form"
                  ng-options="::v.serverModel as ::v.label|translate for v in ::$ctrl.forms">
            <option value="">all forms</option>
          </select>
        </div>
        <div class="form-group">
          <label for="birdsNewSpeciesModeratorReview-id">Record ID</label>
          <input type="number" class="form-control" id="birdsNewSpeciesModeratorReview-id"
                 placeholder="all without location"
                 ng-model="birdsNewSpeciesModeratorReview.id">
        </div>
        <div class="form-group">
          <label for="birdsNewSpeciesModeratorReview-limit">Records</label>
          <input type="number" class="form-control" id="birdsNewSpeciesModeratorReview-limit"
                 placeholder="newest records"
                 ng-model="birdsNewSpeciesModeratorReview.limit">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="birdsNewSpeciesModeratorReview.force">
            Force
          </label>
        </div>
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.birdsNewSpeciesModeratorReview(birdsNewSpeciesModeratorReview.form, birdsNewSpeciesModeratorReview.id, birdsNewSpeciesModeratorReview.limit, birdsNewSpeciesModeratorReview.force)">
          Run
        </button>
      </form>
    </div>
    <div class="panel-footer">
      <div ng-if="$ctrl.birdsNewSpeciesModeratorReview.loading" class="alert alert-info" role="alert">
        <i class="fa fa-spinner fa-spin"></i>
        running...
      </div>
      <div ng-if="$ctrl.birdsNewSpeciesModeratorReview.response" class="alert alert-success" role="alert">
        {{$ctrl.birdsNewSpeciesModeratorReview.response ? 'success' : 'failure'}}
      </div>
      <div ng-if="$ctrl.birdsNewSpeciesModeratorReview.error" class="alert alert-danger" role="alert">
        {{$ctrl.birdsNewSpeciesModeratorReview.error}}
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Auto translate nomenclatures</div>
    <div class="panel-body">
      <form name="autoTranslateNomenclatures" class="form-inline">
        <div class="form-group">
          <label for="autoTranslateNomenclatures-form">Form</label>
          <select class="form-control" id="autoTranslateNomenclatures-form"
                  ng-model="autoTranslateNomenclatures.form"
                  ng-options="::v.serverModel as ::v.label|translate for v in ::$ctrl.forms">
            <option value="">all forms</option>
          </select>
        </div>
        <div class="form-group">
          <label for="autoTranslateNomenclatures-id">Record ID</label>
          <input type="number" class="form-control" id="autoTranslateNomenclatures-id"
                 placeholder="all without location"
                 ng-model="autoTranslateNomenclatures.id">
        </div>
        <div class="form-group">
          <label for="autoTranslateNomenclatures-limit">Records</label>
          <input type="number" class="form-control" id="autoTranslateNomenclatures-limit"
                 placeholder="newest records"
                 ng-model="autoTranslateNomenclatures.limit">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="autoTranslateNomenclatures.force">
            Force
          </label>
        </div>
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.autoTranslateNomenclatures(autoTranslateNomenclatures.form, autoTranslateNomenclatures.id, autoTranslateNomenclatures.limit, autoTranslateNomenclatures.force)">
          Run
        </button>
      </form>
    </div>
    <div class="panel-footer">
      <div ng-if="$ctrl.autoTranslateNomenclatures.loading" class="alert alert-info" role="alert">
        <i class="fa fa-spinner fa-spin"></i>
        running...
      </div>
      <div ng-if="$ctrl.autoTranslateNomenclatures.response" class="alert alert-success" role="alert">
        {{$ctrl.autoTranslateNomenclatures.response ? 'success' : 'failure'}}
      </div>
      <div ng-if="$ctrl.autoTranslateNomenclatures.error" class="alert alert-danger" role="alert">
        {{$ctrl.autoTranslateNomenclatures.error}}
      </div>
    </div>
  </div>
</div>
