<div>
  <div class="navbar navbar-default">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <label for="threatFilter" translate>PUBLIC_THREATS_FILTER_BY_THREAT</label>
        <select
          id="threatFilter"
          class="form-control"
          ng-change="map.filters.updated()"
          ng-model="map.filters.current.threat"
          ng-options="option for option in map.filters.getLocalThreatOptions() track by option"
        >
          <option value="" translate>PUBLIC_THREATS_FILTER_ALL_THREATS</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dateFilter" translate>PUBLIC_THREATS_FILTER_BY_DATE</label>
        <select id="dateFilter" class="form-control" ng-model="map.filters.current.observationDateTime"
                ng-change="map.filters.updated()">
          <option value="" translate>PUBLIC_THREATS_FILTER_ALL_TIME</option>
          <option value="1" translate>PUBLIC_THREATS_FILTER_1_MONTH</option>
          <option value="3" translate>PUBLIC_THREATS_FILTER_3_MONTHS</option>
          <option value="6" translate>PUBLIC_THREATS_FILTER_6_MONTHS</option>
          <option value="12" translate>PUBLIC_THREATS_FILTER_1_YEAR</option>
        </select>
      </div>
    </form>
  </div>

  <sb-leaflet-collection-map
    center="map.center"
    zoom="map.zoom"
    fit="true"
    max-zoom="map.options.maxZoom"
    markers="map.filteredRecords"
    cluster="true"
  >
    <marker-popup>
      <h5 class="text-uppercase">
        {{$model['threats'+($root.$language | capitalize)] || $model.threatsEn}}
      </h5>
    </marker-popup>
  </sb-leaflet-collection-map>

  <ng-include src="'/views/directives/homemap/helptext.html'"></ng-include>
</div>
