<form name="smartform"
      role="form"
      confirm-on-exit="smartform.$dirty"
      confirm-message-window="{{'MONITORING_DETAIL_UNSAVED_DATA_ALERT_TITLE' | translate}}"
      confirm-message-route="{{'MONITORING_DETAIL_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">
  <div class="actions actions-detail">
    <form-detail-buttons monitoring-detail-controller="monitoringDetailController"></form-detail-buttons>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <span ng-if="monitoringDetailController.data.id" translate>MONITORING_DETAIL_TITLE_EDIT</span>
        <span ng-if="!monitoringDetailController.data.id" translate>MONITORING_DETAIL_TITLE_NEW</span>
      </h1>
    </div>
  </div>

  <div ng-include="'/views/monitorings/common2.html'"></div>

  <div ng-include="'/views/monitorings/common.html'"></div>

  <div class="row">
    <div class="col-md-7 col-lg-6" ng-include="'/views/monitorings/fields/geolocation.html'"></div>

    <div class="col-md-5 col-lg-6">
      <div class="row">
        <div class="col-md-12">
          <field name="species" type="single-choice" nomenclature="pylons_type" required="true"
                 label="{{'PYLONS_FIELD_PYLON_TYPE' | translate}}"
                 model="monitoringDetailController.data.pylonType"></field>
        </div>
        <div class="col-md-6 col-lg-6" ng-include="'/views/monitorings/fields/confidential.html'"></div>
        <div class="col-md-6 col-lg-6" ng-include="'/views/monitorings/fields/moderatorReview.html'"></div>
        <div class="col-md-12 col-lg-12">
          <field name="speciesNestOnPylon" type="species" nomenclature="birds"
                 label="{{'PYLONS_FIELD_SPECIES_NEST' | translate}}"
                 model="monitoringDetailController.data.speciesNestOnPylon"></field>
        </div>
        <div class="col-md-6 col-lg-6">
          <field name="typeNest" type="single-choice" nomenclature="pylons_type_nest"
                 label="{{'PYLONS_FIELD_TYPE_NEST' | translate}}"
                 model="monitoringDetailController.data.typeNest"></field>
        </div>
        <div class="col-md-6 col-lg-6">
          <field name="pylonInsulated" type="bool"
                 label="{{'PYLONS_FIELD_INSULATED' | translate}}"
                 model="monitoringDetailController.data.pylonInsulated"></field>
        </div>
        <div class="col-md-12 col-lg-12">
          <field name="habitat100mPrime" type="single-choice" nomenclature="pylons_habitat"
                 label="{{'PYLONS_DETAIL_HABITAT_100M_PRIME' | translate}}"
                 model="monitoringDetailController.data.habitat100mPrime"></field>
        </div>
        <div class="col-md-12 col-lg-12">
          <field name="habitat100mSecond" type="single-choice" nomenclature="pylons_habitat"
                 label="{{'PYLONS_DETAIL_HABITAT_100M_SECOND' | translate}}"
                 model="monitoringDetailController.data.habitat100mSecond"></field>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="monitoringDetailController.data.hasNotes">
    <div class="col-md-12">
      <field name="speciesNotes" type="memo"
             label="{{'COMMON_SPECIES_NOTES' | translate}}"
             model="monitoringDetailController.data.speciesNotes"></field>
    </div>
  </div>

  <div class="row">
    <form-pictures ng-model="monitoringDetailController.data.pictures"></form-pictures>
  </div>

</form>
