<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header clearfix">
      <div class="pull-right">
        <div class="btn-group" uib-dropdown is-open="$ctrl.languageSelectorIsOpen">
          <button type="button" class="btn btn-default" uib-dropdown-toggle>
            {{$ctrl.currentLanguage ? ($ctrl.languages[$ctrl.currentLanguage].label|translate) : 'ALL'}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu list-group" uib-dropdown-menu>
            <li class="list-group-item"
                ng-class="{active: !$ctrl.currentLanguage}">
              <a href="#" ng-click="$ctrl.setCurrentLanguage('', $event)">- ALL -</a>
            </li>
            <li class="list-group-item"
                ng-repeat="(key, language) in $ctrl.languages track by key"
                ng-class="{active: key === $ctrl.currentLanguage}">
              <a href="#" ng-click="$ctrl.setCurrentLanguage(key, $event)">{{::language.label|translate}}</a>
            </li>
          </ul>
        </div>
      </div>

      {{::'NOMENCLATURES_TITLE'|translate}}
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <uib-accordion close-other="true">
      <div uib-accordion-group
           class="panel-{{::$ctrl.selected.group[name] ? 'info' : 'default'}}"
           is-open="$ctrl.selected.group[name]"
           ng-repeat="(name, nomenclatures) in $ctrl.groups">
        <uib-accordion-heading>
          <span class="badge pull-right">
            {{(nomenclatures|toArray).length}}
          </span>
          {{name|humanize}}
        </uib-accordion-heading>
        <ul class="list-group">
          <li class="list-group-item"
              ng-repeat="(type, list) in nomenclatures"
              ng-class="{'list-group-item-info': $ctrl.selected.name === type}">
            <a href ui-sref=".({group: name, nomenclature: type})">
              <span class="badge pull-right">{{(list|toArray).length}}</span>
              {{type|humanize}}
            </a>
          </li>
        </ul>
      </div>
    </uib-accordion>
  </div>

  <div class="col-md-8">
    <form name="editform"
          role="form"
          class="table-responsive"
          confirm-on-exit="editform.$dirty"
          confirm-message-window="{{'NOMENCLATURES_UNSAVED_DATA_TITLE' | translate}}"
          confirm-message-route="{{'NOMENCLATURES_UNSAVED_DATA_MESSAGE' | translate}}">
      <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
          <th>#</th>
          <th ng-repeat="(key, language) in $ctrl.visibleLanguages track by key" title="{{::language.label|translate}}">{{::key|uppercase}}</th>
          <th class="btn-group btn-group-xs">
            <button
              type="button"
              class="btn btn-info btn-xs"
              title="{{'NOMENCLATURES_BUTTON_ADD' | translate}}"
              ng-click="$ctrl.add()">
              <i class="fa fa-plus fa-fw"></i>
            </button>
            <button ng-disabled="editform.$pristine"
                    type="button"
                    class="btn btn-success btn-xs"
                    title="{{'NOMENCLATURES_BUTTON_SAVE' | translate}}"
                    ng-click="$ctrl.save()">
              <i class="fa fa-check fa-fw"></i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover" ng-repeat="item in $ctrl.selected.nomenclature">
          <td>{{$index+1}}</td>
          <td ng-repeat="(key, language) in $ctrl.visibleLanguages track by key">
            <field ng-if="::key==='en'" type="text" model="item.label[key]" required></field>
            <field ng-if="::key!=='en'" type="text" model="item.label[key]"></field>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-xs visible-hover"
                    ng-click="$ctrl.remove($index)">
              <i class="fa fa-remove fa-fw"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>#</th>
          <th ng-repeat="(key, language) in $ctrl.visibleLanguages track by key" title="{{::language.label|translate}}">{{::key|uppercase}}</th>
          <th class="btn-group btn-group-xs">
            <button
              type="button"
              class="btn btn-info btn-xs"
              title="{{'NOMENCLATURES_BUTTON_ADD' | translate}}"
              ng-click="$ctrl.add()">
              <i class="fa fa-plus fa-fw"></i>
            </button>
            <button ng-disabled="editform.$pristine"
                    type="button"
                    class="btn btn-success btn-xs"
                    title="{{'NOMENCLATURES_BUTTON_SAVE' | translate}}"
                    ng-click="$ctrl.save()">
              <i class="fa fa-check fa-fw"></i>
            </button>
          </th>
        </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>
